body {
  /* min-width: fit-content; */
  /* width: 50%; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 800px;
  margin: auto;
  background-color: #FFCC00;
}

h1, h2, h3 {
  margin: 10px 0px 10px 0px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}

i {
  font-style: italic;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;

}

.item {
  margin: 0px 20px 0px 0px;
}

.burger {
  background: #faebd7;
  /* border-radius: 15px; */
  border: 1px solid black;
  padding: 10px;
}

.burger-tray {
  background-color: #FF9999;
  border-radius: 25px;
  border: 2px solid #CC0000;
  box-shadow: inset 5px 5px 5px gray;
  padding: 20px;
}

.devoured {
  opacity: 0.5;
}

.tray-title {
  font-family: 'Comic Sans MS';
}