body {
  /* min-width: fit-content; */
  /* width: 50%; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 500px;
  margin: auto;
}

h1, h2, h3 {
  margin: 10px 0px 10px 0px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.container {
  display: flex;
}